@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('/src/fonts/Montserrat-Medium.woff2') format('woff2');
        font-weight: 500;
    }