.mr-10 {
    margin-right: 10px;
    }
.mr-15 {
    margin-right: 15px;
}
.mr-40 {
    margin-right: 40px;
}
.mr-80 {
    margin-right: 80px;
}
.mb-10{
    margin-bottom: 10px;
    }
.mb-15 {
    margin-bottom: 15px;
}
.mb-25{
    margin-bottom: 25px;
    }
.mb-30 {
    margin-bottom: 30px;
}

.mt-140 {
    margin-top: 140px;
}
.ml-15 {
    margin-left: 15px;
}

